<!-- DEFAULT THEME -->
<html>
<head>
	<script src='/javascripts/jquery.min.js' type='text/javascript'></script>
	<script src='/javascripts/foundation.js' type='text/javascript'></script>
	<script src='/javascripts/app.js' type='text/javascript'></script>
	<script src='/javascripts/modernizr.foundation.js' type='text/javascript'></script>
	<link rel='stylesheet' type='text/css' href='/stylesheets/foundation.css'>
	<link rel='stylesheet' type='text/css' href='/stylesheets/app.css'>

	<title> {{pagetitle}} </title>

</head>
<body>
	{{#reveal}}
	<!-- window reveal for foundation -->
		<div id='modale' class='reveal-modal'>
       			<h1>Title</h1>
       			<p>Text in reveal modal windows</p>
       			<a class='close-reveal-modal'>x</a>
    		</div>
	{{/reveal}}

	{{#header }}
		<ul class='nav-bar'>
			{{#menu}}
        			<li><a href='{{path}}' class='main'> {{item}} </a></li>
			{{/menu}}

		</ul>
	{{/header }}


	<div class='container'>

		<div class='row'>
<!-- LEFT COLUMNS -->
			<div class='six columns'>
				<h1>{{pagetitle}}</h1>

{{#message}}			<div class='alert-box {{action}}'>{{message}} <a href'' class='close'>&times;</a></div>
{{/message}}

<!-- THE FORMS -->
			{{#form}}
				
				{{#user}}
					<form method='post' action='/{{type}}' class='nice'>
			    	 		<input type='text' name='name' class='input-text' placeholder='Nome' value='{{name}}'/>
						{{#registration}}
	     					<input type='text' name='email' class='input-text' placeholder='Email' value='{{email}}'/>
						{{/registration}}
						{{#restricted}}
	     					<input type='text' name='role' class='input-text' placeholder='Role' value='{{role}}'/>
						{{/restricted}}
	     					<input type='password' name='password' class='input-text' placeholder='Password'/>
	     					<input type='submit' value='Submit' class='small radius button'/>
					</form>
				{{/user}}

				{{#post}}
					<form method='post' action='/posts' class='nice'>
						<input type='hidden' name='type' value='{{type}}' />
						<input type='text' name='title' class='input-text' placeholder='Title' value='{{title}}'/>
						<textarea name='content' class='input-text' placeholder='Content'/>{{content}}</textarea>
						<input type='submit' value='Submit' class='small radius button'/>
					</form>
				{{/post}}

				{{#path}}
					<form method='post' action='/path' class='nice'>
						<input type='text' name='method' class='input-text' placeholder='Method' value='{{method}}'/>
						<input type='text' name='pathtitle' class='input-text' placeholder='PageTitle' value='{{pathtitle}}'/>
						<input type='text' name='formoption' class='input-text' placeholder='FormOption' value='{{formoption}}'/>
						<input type='text' name='headeroption' class='input-text' placeholder='Header' value='{{headeroption}}'/>
						<input type='text' name='revealoption' class='input-text' placeholder='RevealOption' value='{{revealoption}}'/>
						<input type='text' name='sidebaroption' class='input-text' placeholder='SideBarOption' value='{{sidebaroption}}'/>
						<input type='text' name='footeroption' class='input-text' placeholder='FooterOption' value='{{footeroption}}'/>
						<input type='submit' value='Submit' class='small radius button'/>
					</form>
				{{/path}}

				{{#menulist}}
					<form method='post' action='/menu' class='nice'>
						<input type='text' name='pathvalue' class='input-text' placeholder='Path' value='{{pathvalue}}'/>
						<input type='text' name='itemvalue' class='input-text' placeholder='Item' value='{{itemvalue}}'/>
						<input type='text' name='acl' class='input-text' placeholder='Acl' value='{{acl}}'/>
						<input type='submit' value='Submit' class='small radius button'/>
					</form>
				{{/menulist}}

				{{#newsite}}
					<form method='post' action='/newsite' class='nice'>
						<input type='text' name='domain' class='input-text' placeholder='Principal Domain' value='{{domain}}'/>
						<input type='text' name='subdomains' class='input-text' placeholder='All Subdomains' value='{{subdomains}}'/>
						<input type='submit' value='Submit' class='small radius button'/>
					</form>
				{{/newsite}}

				{{#themes}}
					<form method='post' action='/themes' class='nice'>
						<textarea name='content' class='input-text' placeholder='Content' rows='150' cols='100'/>{{content}}</textarea>
					     	<input type='submit' value='Submit' class='small radius button'/>
					</form>

				{{/themes}}


			{{/form}}

			{{#data_user}}
				{{name}} -
				{{email}} -
				{{password}} | 
				<a href='/user/edit/{{name}}'>edit</a><br>
			{{/data_user}}

			{{#data_path}}
				{{method}} -
				{{pagetitle}} -
				{{form}} ... 
				<a href='/path/edit/{{method}}'>edit</a><br>
			{{/data_path}}

			{{#data_menulist}}
				{{path}} -
				{{item}} -
				{{acl}}  
				<a href='/menu/edit/{{item}}'>edit</a><br>
			{{/data_menulist}}

			{{#data_posts}}
				Title: {{title}} - Date: {{date}}<br>
				Content: {{content}}
				<a href='/posts/edit/{{slug}}'>edit</a><br>
						{{/data_posts}}

			{{#data_themes}}
				{{field}} : {{value}}
			{{/data_themes}}

			{{#data_modules}}
				{{value}} - <a href='/{{value}}/install/{{status}}'>{{status}}</a> <br>  
			{{/data_modules}}

			{{#paginator}}
				<a href='/archive/2'>2</a><br>
			{{/paginator}}
			</div>

<!-- RIGHT COLOUMS / SIDEBAR -->
{{#sidebar}}
			<div class='six columns'>
				<h1>SIDEBAR</h1>

				{{#reveal}}
	    				<a href='#' data-reveal-id='modale'>Click here to see modal windows </a>
				{{/reveal}}
			</div>
		</div>
{{/sidebar}}
	</div>
	

<!-- FOOTER -->
	<!-- ISSUE:4-->
	{{#footer}}
		<center>FOOTER HERE</center>
	{{/footer}}
</body>
</html>

